*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}

:root{
	--bg-color: #ffffff;
	--text-color: #22100d;
	--second-color: #685f78;
	--main-color: #f66962;
    --black-font: #29303B;
	--big-font: 3.8rem;
	--h2-font: 2.6rem;
	--p-font: 1.1rem;
}

body{
	background: var(--bg-color);
	color: var(--text-color);
}

#course-inner{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    padding: 8vw;
    
}

#course-inner h3{
    padding: 35px 0 25px 0;
    color: var(--black-font);
}

#course-inner .overview{
    width: 70%;
}

#course-inner .overview .course-img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
}

#course-inner .overview .course-head{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#course-inner .overview .course-head .c-name{
    width: 70%;
}

#course-inner .overview .course-head .c-name h2{
    color: var(--black-font);
}

#course-inner .overview .course-head .c-name .star{
    margin: 6px 0;
}


#course-inner .overview .course-head .c-name p{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.788);
}

#course-inner .overview .course-head span{
    padding: 16px 13px;
    border-radius: 5px;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 700;
    background-color: rgba(252, 144, 56, 0.199);
}

#course-inner .pragraph{
    margin-bottom: 20px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.788);
}

#course-inner .learn p{
    font-size: 15px;
    padding-bottom: 15px;
}

#course-inner .learn p i{
    color: var(--main-color);
    font-weight: 700;
    margin-right: 10px;
}

#course-inner .tutor{
    display: flex;
    margin-bottom: 10px;
}

#course-inner .tutor img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
}

#course-inner .tutor h5{
    font-size: 15px;
    margin-top: 10px;
}

#course-inner .enroll{
    width: 300px;
    padding: 0 30px 30px 30px;
    border-radius: 11px;
    box-shadow: 0px 20px 40px 0 rgb(11 2 55 / 8%);
}

#course-inner .enroll h3{
    padding-bottom: 10px;
}

#course-inner .enroll p{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.788);
    margin: 15px 0;
}

#course-inner .enroll p i{
    color: var(--main-color);
    margin-right: 15px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
}

#course-inner .enroll .enroll-btn{
    padding: 25px 0 20px 0;
    margin: auto;
    text-align: center;
}

#course-inner .enroll .enroll-btn a{
    text-decoration: none;
    font-size: .8rem;
    padding: 13px 45px;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    background-color: var(--main-color);
}

@media (max-width: 890px){
    #course-inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 8vh 4vw;
    }

    #course-inner .overview{
        width: 100%;
    }

    #course-inner .overview .course-img{
        width: 100%;
        height: 40vh;
    }

    #course-inner .enroll{
        margin-top: 25px;
    }
}

@media (max-width: 480px){
    #course-inner .overview .course-head .c-name{
        width: 50%;
    }

    #course-inner .overview .course-head .c-name h2{
        font-size: 22px;
    }

    #course-inner .enroll{
        width: 100%;
    }

    #course-inner .overview .course-head .c-name p {
        font-size: 15px;
        width: 100%;
        color: rgba(0, 0, 0, 0.788);
    }

    #course-inner .overview .course-head .c-name{
        width: 100%;
    }
}
